.mailBox {
  min-width: 589px;
  min-height: 530px;
  margin: 13px 20px 12px 191px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
  font-family: HelveticaNeue, sans-serif;
}

.lettersSectionWrapper {
  min-height: 380px;
}

.mailBox.dark {
  background-color: rgb(42, 42, 46);
  color: #9b9b9b;
}

.hrLine.dark {
  border-top: solid 1px #6e6e6e;
}
