.mailBody {
  background-color: #e5eaf0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../../resourses/fonts/HelveticaNeueCyr-Medium.otf') format('truetype');
}
