.footer {
  min-width: 530px;
  margin-top: 75px;

  border-top: solid 1px #e2e2e2;
  border-radius: 3px;
}

.footerInfo {
  padding: 7px 20px;
  cursor: pointer;
  font-size: 11px;
  text-align: right;
}

.footerLink,
.footerLinkDark {
  display: inline-block;
  overflow: hidden;
  max-width: 140px;
  margin-top: 5px;
  margin-left: 28px;
  color: #9b9b9b;
  text-decoration: none;
  text-overflow: ellipsis;
}

.footerLink:hover {
  color: #000000;
  opacity: 0.75;
}

.footerLinkDark:hover {
  color: #fffda7;
  opacity: 0.75;
}

.footerItem {
  display: inline-block;
  overflow: hidden;
  max-width: 100px;
  margin-top: 5px;
  margin-right: -25px;
  margin-left: 25px;
  color: #9b9b9b;
  text-overflow: ellipsis;
  vertical-align: center;
}
