.coveredLetter {
  display: flex;

  border-bottom: solid 1px #e2e2e2;
  opacity: 1;
}

.mainContentDistinguished {
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  -webkit-user-select: text;
}

.miniLogoWrapper {
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-top: 5px;
}

.miniSenderPic {
  width: 30px;
  height: 30px;
}

.clickToOpenWrapper {
  display: flex;
  min-width: 485px;
  flex-grow: 1;
  padding: 11px 10px;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
}

.isNotRead {
  font-weight: 700;
}

.isRead {
  font-weight: 500;
}

.senderName {
  width: 160px;
}

.letterItem {
  overflow: hidden;
  margin-top: 5px;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.isReadMarkNotRead {
  background-color: #6287bd;
  border-radius: 100px;
}

.isReadMarkNotRead.dark {
  background-color: #ffc66d;
}

.isReadMark,
.isReadMarkNotRead {
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.titleText {
  width: 220px;
  flex: 1;
  margin-right: 35px;
  margin-left: 10px;
  white-space: nowrap;
}

.dateInfo {
  max-width: 50px;
  margin: 5px 10px 0 0;
  color: #9b9b9b;
  font-weight: 500;
  text-align: right;
}
