.openedLetter {
  background-color: white;
}

.openedLetter.dark {
  background-color: rgb(42, 42, 46);
}

.closer {
  margin-top: 10px;
  margin-right: 20px;
  color: #000000;
  cursor: pointer;
  float: right;
  font-size: 22px;
  opacity: 0.4;
}

.closer.dark {
  color: #ffffff;
}

.closer:hover {
  opacity: 1;
}

.content {
  padding: 15px;
  font-size: 15px;
  white-space: normal;
}
