.boxHeader {
  display: flex;
  height: 38px;

  border-bottom: solid 1px #e2e2e2;
  font-size: 13px;
  font-weight: 500;
}

.buttonWrapper {
  color: #cccccc;
}

.button,
.buttonDark {
  padding: 15px 15px 11px 10px;

  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.button:hover {
  color: #000000;
  opacity: 0.75;
}

.buttonDark:hover {
  color: #fffda7;
  opacity: 0.75;
}

.hideHeader {
  display: none;
}
